
.publish_post_container{
    display: flex;
    flex-wrap: wrap;
}
.publish_post_container > div{
    width: 30%;
    min-height: 30rem;
    border: 0.1rem #ababab solid;
    border-radius: 1rem;
    margin: 1rem;
    -webkit-box-shadow: 1px 3px 5px 2px #ADADAD;
    box-shadow: 1px 3px 5px 2px #ADADAD;

}
.publish_post_container > .empty{
    box-shadow: none;
    border: none;
}
.publish-preview-post{
    padding: 2rem;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;

}
.publish-preview-image{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
    border: 0.1rem #ababab solid;

}
.publish-preview-content{
    white-space: pre-wrap;

}
.publish_arrow_deploy{
    margin-left: 49%;
    margin-top: 2rem;
    font-size: large;
}
.publish_arrow_deploy:hover {
    color: #3c8dbc;
    cursor: pointer;
}

.publish_post_header {
    display: flex;
    justify-content: space-between;
}

.btn_posts {
    background: #606c88; /* Old browsers */
    background: -moz-linear-gradient(top, #606c88 0%, #222d32 90%, #222d32 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #606c88 0%, #222d32 90%, #222d32 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #606c88 0%, #222d32 90%, #222d32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#222d32', GradientType=0);
    -webkit-box-shadow: 1px 3px 5px 1px #ADADAD;
    box-shadow: 1px 3px 5px 1px #ADADAD;
    color: #b8c7ce;

}

.btn_posts:hover,.btn_posts:focus,.btn_posts:active {
    color: white;
    background: #606c88; /* Old browsers */
    background: -moz-linear-gradient(top, #606c88 0%, #435c63 100%, #222d32 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #606c88 0%, #435c63 100%, #222d32 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #606c88 0%, #435c63 100%, #222d32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#222d32', GradientType=0); /* IE6-9 */
    outline: none;
}
@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
    outline: none;

}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #374850;
    outline: none;
}

.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
    outline: none;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #374850;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
    outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

input {
    outline: 0 !important;
}